#include "afxres.h"

/////////////////////////////////////////////////////////////////////////////
// English (U.S.) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)
#endif //_WIN32

NORMALADTL_INI TEXTFILE MOVEABLE PURE  "res\\NormalADTL.ini"
ADTL_FRAMECAPTION_BMP BITMAP MOVEABLE PURE "res\\ADTL_FRAMECAPTION.BMP"
ADTL_FRAMECAPTIONSIZING_BMP BITMAP MOVEABLE PURE "res\\ADTL_FrameCaptionSizing.bmp"
ADTL_CLOSEBUTTON_BMP BITMAP MOVEABLE PURE "res\\ADTL_CLOSEBUTTON.BMP"
ADTL_CLOSE1_BMP BITMAP MOVEABLE PURE "res\\ADTL_CLOSE1.BMP"
ADTL_CLOSE_BMP BITMAP MOVEABLE PURE "res\\ADTL_CLOSE.BMP"
ADTL_FRAMEBOTTOM_BMP BITMAP MOVEABLE PURE "res\\ADTL_frameBottom.bmp"
ADTL_FRAMELEFT_BMP BITMAP MOVEABLE PURE "res\\ADTL_frameLeft.bmp"
ADTL_FRAMERIGHT_BMP BITMAP MOVEABLE PURE "res\\ADTL_frameRight.bmp"
ADTL_CAPTIONBUTTON_BMP BITMAP MOVEABLE PURE "res\\ADTL_CAPTIONBUTTON.bmp"
ADTL_HELP1_BMP BITMAP MOVEABLE PURE "res\\ADTL_HELP1.BMP"
ADTL_HELP_BMP BITMAP MOVEABLE PURE "res\\ADTL_HELP.BMP"
ADTL_MAX1_BMP BITMAP MOVEABLE PURE "res\\ADTL_MAX1.BMP"
ADTL_MAX_BMP BITMAP MOVEABLE PURE "res\\ADTL_MAX.BMP"
ADTL_FRAMECAPTIONMAX_BMP BITMAP MOVEABLE PURE "res\\ADTL_FRAMECAPTIONMAX.bmp"
ADTL_MDIGLYPHCLOSE_BMP BITMAP MOVEABLE PURE "res\\ADTL_MDIGlyphClose.bmp"
ADTL_MDICAPTIONBUTTON_BMP BITMAP MOVEABLE PURE "res\\ADTL_MDICaptionButton.bmp"
ADTL_MDIGLYPHMINIMIZE_BMP BITMAP MOVEABLE PURE "res\\ADTL_MDIGlyphMinimize.bmp"
ADTL_MDIGLYPHRESTORE_BMP BITMAP MOVEABLE PURE "res\\ADTL_MDIGlyphRestore.bmp"
ADTL_MIN1_BMP BITMAP MOVEABLE PURE "res\\ADTL_MIN1.BMP"
ADTL_MIN_BMP BITMAP MOVEABLE PURE "res\\ADTL_MIN.BMP"
ADTL_FRAMECAPTIONMIN_BMP BITMAP MOVEABLE PURE "res\\ADTL_FrameCaptionmin.bmp"
ADTL_RES1_BMP BITMAP MOVEABLE PURE "res\\ADTL_RES1.BMP"
ADTL_RES_BMP BITMAP MOVEABLE PURE "res\\ADTL_RES.BMP"
ADTL_FRAMEMAXIMIZED11_BMP BITMAP MOVEABLE PURE "res\\ADTL_FRAMEMAXIMIZED11.bmp"
ADTL_SMALLFRAMECAPTIONSIZING_BMP BITMAP MOVEABLE PURE "res\\ADTL_SmallFrameCaptionSizing.bmp"
ADTL_FRAMEBOTTOM11_BMP BITMAP MOVEABLE PURE "res\\ADTL_FRAMEBOTTOM11.bmp"
ADTL_FRAMELEFT2_BMP BITMAP MOVEABLE PURE "res\\ADTL_FRAMELEFT2.bmp"
ADTL_FRAMERIGHT2_BMP BITMAP MOVEABLE PURE "res\\ADTL_FRAMERIGHT2.bmp"
ADTL_CHECKBOX13_BMP BITMAP MOVEABLE PURE "res\\ADTL_CheckBox13.bmp"
ADTL_CHECKBOX16_BMP BITMAP MOVEABLE PURE "res\\ADTL_CheckBox16.bmp"
ADTL_CHECKBOX25_BMP BITMAP MOVEABLE PURE "res\\ADTL_CheckBox25.bmp"
ADTL_GROUPBOX_BMP BITMAP MOVEABLE PURE "res\\ADTL_GroupBox.bmp"
ADTL_BUTTON_BMP BITMAP MOVEABLE PURE "res\\ADTL_BUTTON.bmp"
ADTL_RADIOBUTTON13_BMP BITMAP MOVEABLE PURE "res\\ADTL_RadioButton13.bmp"
ADTL_RADIOBUTTON16_BMP BITMAP MOVEABLE PURE "res\\ADTL_RadioButton16.bmp"
ADTL_RADIOBUTTON25_BMP BITMAP MOVEABLE PURE "res\\ADTL_RadioButton25.bmp"
ADTL_TOOLBARBACKGROUND_BMP BITMAP MOVEABLE PURE "res\\ADTL_TOOLBARBACKGROUND.bmp"
ADTL_CHEVRON_BMP BITMAP MOVEABLE PURE "res\\ADTL_Chevron.bmp"
ADTL_TOOLBARBUTTONS_BMP BITMAP MOVEABLE PURE "res\\ADTL_TOOLBARBUTTONS.bmp"
ADTL_SEPARATOR_BMP BITMAP MOVEABLE PURE "res\\ADTL_SEPARATOR.BMP"
ADTL_TOOLBARGRIPPERVERT_BMP BITMAP MOVEABLE PURE "res\\ADTL_ToolbarGripperVert.bmp"
ADTL_SEPARATORVERT_BMP BITMAP MOVEABLE PURE "res\\ADTL_SeparatorVert.bmp"
ADTL_TOOLBARBUTTONSSPLIT_BMP BITMAP MOVEABLE PURE "res\\ADTL_ToolbarButtonsSplit.bmp"
ADTL_TOOLBARBUTTONSSPLITDROPDOWNGLYPH_BMP BITMAP MOVEABLE PURE "res\\ADTL_TOOLBARBUTTONSSPLITDROPDOWNGLYPH.bmp"
ADTL_TOOLBARBUTTONSSPLITDROPDOWN_BMP BITMAP MOVEABLE PURE "res\\ADTL_ToolbarButtonsSplitDropdown.bmp"
ADTL_STATUSBACKGROUND_BMP BITMAP MOVEABLE PURE "res\\ADTL_StatusBackground.bmp"
ADTL_BITMAP00644_BMP BITMAP MOVEABLE PURE "res\\ADTL_Bitmap00644.bmp"
ADTL_STATUSPANE_BMP BITMAP MOVEABLE PURE "res\\ADTL_STATUSPANE.BMP"
ADTL_COMBOBOX_BMP BITMAP MOVEABLE PURE "res\\ADTL_COMBOBOX.BMP"
ADTL_LISTVIEW_BMP BITMAP MOVEABLE PURE "res\\ADTL_LISTVIEW.BMP"
ADTL_LISTVIEWHEADERBACKGROUND_BMP BITMAP MOVEABLE PURE "res\\ADTL_ListviewHeaderBackground.bmp"
ADTL_LISTVIEWHEADER_BMP BITMAP MOVEABLE PURE "res\\ADTL_ListViewHeader.bmp"
ADTL_PROGRESSTRACK_BMP BITMAP MOVEABLE PURE "res\\ADTL_PROGRESSTRACK.BMP"
ADTL_PROGRESSTRACKVERT_BMP BITMAP MOVEABLE PURE "res\\ADTL_PROGRESSTRACKVERT.BMP"
ADTL_PROGRESSCHUNK_BMP BITMAP MOVEABLE PURE "res\\ADTL_PROGRESSCHUNK.BMP"
ADTL_PROGRESSCHUNKVERT_BMP BITMAP MOVEABLE PURE "res\\ADTL_PROGRESSCHUNKVERT.BMP"
ADTL_TABBACKGROUND_BMP BITMAP MOVEABLE PURE "res\\ADTL_TabBackground.bmp"
ADTL_TABBACKGROUND133_BMP BITMAP MOVEABLE PURE "res\\ADTL_TabBackground133.bmp"
ADTL_TABPANEEDGE_BMP BITMAP MOVEABLE PURE "res\\ADTL_TabPaneEdge.bmp"
ADTL_TABITEM_BMP BITMAP MOVEABLE PURE "res\\ADTL_TABITEM.BMP"
ADTL_TABITEMBOTH_BMP BITMAP MOVEABLE PURE "res\\ADTL_TABITEMBOTH.BMP"
ADTL_TABITEMLEFT_BMP BITMAP MOVEABLE PURE "res\\ADTL_TABITEMLEFT.BMP"
ADTL_TABITEMRIGHT_BMP BITMAP MOVEABLE PURE "res\\ADTL_TABITEMRIGHT.BMP"
ADTL_TABITEMTOP_BMP BITMAP MOVEABLE PURE "res\\ADTL_TABITEMTOP.BMP"
ADTL_TABITEMTOPBOTH_BMP BITMAP MOVEABLE PURE "res\\ADTL_TABITEMTOPBOTH.BMP"
ADTL_TABITEMTOPLEFT_BMP BITMAP MOVEABLE PURE "res\\ADTL_TABITEMTOPLEFT.BMP"
ADTL_TABITEMTOPRIGHT_BMP BITMAP MOVEABLE PURE "res\\ADTL_TABITEMTOPRIGHT.BMP"
ADTL_BITMAP00762_BMP BITMAP MOVEABLE PURE "res\\ADTL_Bitmap00762.bmp"
ADTL_BITMAP00381_BMP BITMAP MOVEABLE PURE "res\\ADTL_Bitmap00381.bmp"
ADTL_BITMAP00382_BMP BITMAP MOVEABLE PURE "res\\ADTL_Bitmap00382.bmp"
ADTL_BITMAP00383_BMP BITMAP MOVEABLE PURE "res\\ADTL_Bitmap00383.bmp"
ADTL_BITMAP00384_BMP BITMAP MOVEABLE PURE "res\\ADTL_Bitmap00384.bmp"
ADTL_BITMAP00385_BMP BITMAP MOVEABLE PURE "res\\ADTL_Bitmap00385.bmp"
ADTL_BITMAP00386_BMP BITMAP MOVEABLE PURE "res\\ADTL_Bitmap00386.bmp"
ADTL_BITMAP00387_BMP BITMAP MOVEABLE PURE "res\\ADTL_Bitmap00387.bmp"
ADTL_BITMAP00388_BMP BITMAP MOVEABLE PURE "res\\ADTL_Bitmap00388.bmp"
ADTL_BITMAP00389_BMP BITMAP MOVEABLE PURE "res\\ADTL_Bitmap00389.bmp"
ADTL_BITMAP00390_BMP BITMAP MOVEABLE PURE "res\\ADTL_Bitmap00390.bmp"
ADTL_BITMAP00391_BMP BITMAP MOVEABLE PURE "res\\ADTL_Bitmap00391.bmp"
ADTL_BITMAP00392_BMP BITMAP MOVEABLE PURE "res\\ADTL_Bitmap00392.bmp"
ADTL_BITMAP00775_BMP BITMAP MOVEABLE PURE "res\\ADTL_Bitmap00775.bmp"
ADTL_SLIDERTRACK_BMP BITMAP MOVEABLE PURE "res\\ADTL_sliderTrack.bmp"
ADTL_SLIDERTRACKVERT_BMP BITMAP MOVEABLE PURE "res\\ADTL_SLIDERTRACKVERT.bmp"
ADTL_BITMAP00752_BMP BITMAP MOVEABLE PURE "res\\ADTL_Bitmap00752.bmp"
ADTL_BITMAP00783_BMP BITMAP MOVEABLE PURE "res\\ADTL_Bitmap00783.bmp"
ADTL_FIELDOUTLINEBLUE_BMP BITMAP MOVEABLE PURE "res\\ADTL_FieldOutlineBlue.bmp"
ADTL_SPINDOWNGLYPH_BMP BITMAP MOVEABLE PURE "res\\ADTL_SPINDOWNGLYPH.BMP"
ADTL_SPINBUTTONBACKGROUNDDOWN_BMP BITMAP MOVEABLE PURE "res\\ADTL_SPINBUTTONBACKGROUNDDOWN.BMP"
ADTL_SPINLEFTGLYPH_BMP BITMAP MOVEABLE PURE "res\\ADTL_SPINLEFTGLYPH.BMP"
ADTL_SPINBUTTONBACKGROUNDLEFT_BMP BITMAP MOVEABLE PURE "res\\ADTL_SPINBUTTONBACKGROUNDLEFT.BMP"
ADTL_SPINUPGLYPH_BMP BITMAP MOVEABLE PURE "res\\ADTL_SPINUPGLYPH.BMP"
ADTL_SPINBUTTONBACKGROUNDUP_BMP BITMAP MOVEABLE PURE "res\\ADTL_SPINBUTTONBACKGROUNDUP.BMP"
ADTL_SPINRIGHTGLYPH_BMP BITMAP MOVEABLE PURE "res\\ADTL_SPINRIGHTGLYPH.BMP"
ADTL_SPINBUTTONBACKGROUNDRIGHT_BMP BITMAP MOVEABLE PURE "res\\ADTL_SPINBUTTONBACKGROUNDRIGHT.BMP"
ADTL_SCROLLARROWS_BMP BITMAP MOVEABLE PURE "res\\ADTL_SCROLLARROWS.bmp"
ADTL_SCROLLARROWGLYPHSSMALL_BMP BITMAP MOVEABLE PURE "res\\ADTL_SCROLLARROWGLYPHSSMALL.BMP"
ADTL_SCROLLARROWGLYPHS_BMP BITMAP MOVEABLE PURE "res\\ADTL_SCROLLARROWGLYPHS.BMP"
ADTL_SCROLLTHUMBGRIPPERHORIZONTAL_BMP BITMAP MOVEABLE PURE "res\\ADTL_SCROLLTHUMBGRIPPERHORIZONTAL.BMP"
ADTL_SCROLLTHUMBGRIPPERVERTICAL_BMP BITMAP MOVEABLE PURE "res\\ADTL_SCROLLTHUMBGRIPPERVERTICAL.BMP"
ADTL_SCROLLSHAFTHORIZONTAL_BMP BITMAP MOVEABLE PURE "res\\ADTL_SCROLLSHAFTHORIZONTAL.bmp"
ADTL_SCROLLSHAFTVERTICAL_BMP BITMAP MOVEABLE PURE "res\\ADTL_SCROLLSHAFTVERTICAL.bmp"
ADTL_RESIZEGRIP2_BMP BITMAP MOVEABLE PURE "res\\ADTL_ResizeGrip2.bmp"
ADTL_SCROLLTHUMBHORIZONTAL_BMP BITMAP MOVEABLE PURE "res\\ADTL_SCROLLTHUMBHORIZONTAL.BMP"
ADTL_SCROLLTHUMBVERTICAL_BMP BITMAP MOVEABLE PURE "res\\ADTL_SCROLLTHUMBVERTICAL.BMP"
ADTL_COMBOBUTTONGLYPH_BMP BITMAP MOVEABLE PURE "res\\ADTL_ComboButtonGlyph.bmp"
ADTL_COMBOBUTTON_BMP BITMAP MOVEABLE PURE "res\\ADTL_COMBOBUTTON.bmp"
ADTL_EXPLORERBARHEADERBACKGROUND_BMP BITMAP MOVEABLE PURE "res\\ADTL_ExplorerBarHeaderBackground.bmp"
ADTL_EXPLORERBARHEADERCLOSE_BMP BITMAP MOVEABLE PURE "res\\ADTL_ExplorerBarHeaderClose.bmp"
ADTL_EXPLORERBARHEADERPIN_BMP BITMAP MOVEABLE PURE "res\\ADTL_ExplorerBarHeaderPin.bmp"
ADTL_IE_PERSONALBARMENU_BMP BITMAP MOVEABLE PURE "res\\ADTL_IE_PersonalBarMenu.bmp"
ADTL_NORMALGROUPBACKGROUND_BMP BITMAP MOVEABLE PURE "res\\ADTL_NormalGroupBackground.bmp"
ADTL_SPECIALGROUPCOLLAPSE_BMP BITMAP MOVEABLE PURE "res\\ADTL_SpecialGroupCollapse.bmp"
ADTL_SPECIALGROUPEXPAND_BMP BITMAP MOVEABLE PURE "res\\ADTL_SpecialGroupExpand.bmp"
ADTL_NORMALGROUPHEAD_BMP BITMAP MOVEABLE PURE "res\\ADTL_NormalGroupHead.bmp"
ADTL_SPECIALGROUPBACKGROUND_BMP BITMAP MOVEABLE PURE "res\\ADTL_SpecialGroupBackground.bmp"
ADTL_SPECIALGROUPHEAD_BMP BITMAP MOVEABLE PURE "res\\ADTL_SpecialGroupHead.bmp"


LARGEFONTSADTL_INI TEXTFILE MOVEABLE PURE  "res\\LargeFontsADTL.ini"


EXTRALARGEADTL_INI TEXTFILE MOVEABLE PURE  "res\\ExtraLargeADTL.ini"


THEMES_INI TEXTFILE MOVEABLE PURE  "res\\Themes.ini"

STRINGTABLE DISCARDABLE
BEGIN
    5000                    "Metro"
END

#endif    // English (U.S.) resources

